#root {
    background-color: var(--backgroundColor);
}

body {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    /* font-family: Arial, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
.card {
    color: var(--backgroundColor);
}

.card:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(120deg,#5a3ef8,#edf0f1d0,#69c5fa,#5e5c5c00);
  background-size: 300% 300%;
  border-radius: inherit;
  z-index: -1;
  animation: gradientAnimation 8s ease infinite
}

.rotating-border {
  position: relative;
  border-radius: .5rem;
  padding: 4px;
  overflow: hidden
}

.inner-content {
  position: relative;
  background: var(--backgroundColor);
  border-radius: inherit;
  z-index: 1;
  padding: 16px
}

.rotating-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(270deg,#2180ec00,#807ef7,#6dc3f5,#146cf1,rgba(214, 211, 245, 10));
  background-size: 200% 200%;
  z-index: -1;
  animation: rotate 3s linear infinite;
  border: 1px solid transparent
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  to {
      background-position: 0% 50%
  }
}

@keyframes rotate {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  to {
      background-position: 0% 50%
  }
}

@keyframes typing {
  0% {
      width: 0
  }

  40% {
      width: 100%
  }

  60% {
      width: 100%
  }

  to {
      width: 0
  }
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
  }
